# Data Source

Default of Credit Card Clients.

From: [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/350/default+of+credit+card+clients)

# Problem Definition

Predict the payment status (default: yes or no) for the following month's credit card bill statements of a customer.

The predictors used are some demographic data and the 6-month backtracking of the bill statements and payments of a customer.

# Data Collection

## Importing libraries

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

## Loading dataset

In [8]:
# load the dataset as pandas DataFrame
df = pd.read_excel('/home/er_bim/creditcard_payment_prediction/notebooks/data/default of credit card clients.xls', index_col=0)

# show the random data
df.sample(8)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
29145,20000,2,2,1,51,0,0,0,0,0,...,14427,14894,15112,2300,1300,1300,700,600,600,0
20217,280000,2,2,1,53,-1,-1,2,2,-1,...,390,7531,1240,2846,390,390,7531,1240,390,0
15237,30000,2,2,2,26,2,2,2,2,0,...,22335,17448,17448,0,3400,0,0,0,0,1
6479,50000,1,3,2,29,0,0,2,0,0,...,4104,1596,1594,2500,0,1596,0,1594,0,1
13176,130000,1,1,1,58,0,0,0,0,0,...,49303,14772,150,4300,1500,0,0,1233,870,0
7314,30000,2,2,2,22,0,0,0,0,0,...,29300,0,0,1923,1000,600,0,0,0,1
660,280000,2,2,2,28,-1,2,-1,-1,0,...,1714,2875,1047,0,1179,1714,1290,1047,1000,0
23937,50000,1,3,2,26,2,0,0,0,0,...,13881,14376,15261,1700,2000,1500,1100,1500,2000,0